*{
    font-family: 'Trebuchet MS';

}

#mainheading{
    color: rgb(62, 21, 212);
    margin: 2rem;
    text-shadow: 3px 3px 5px rgb(238, 230, 115);

}

#container{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: max-content;
    border-radius: 1rem;
 
background: rgb(228, 215, 215) ;
box-shadow: 3px 3px 15px rgb(171, 206, 226) ;

}


#form{
    margin: 1rem;
    border-radius: 3rem;
    width: 30rem;
    text-align: justify ;
    background: rgb(39, 155, 155);
    box-shadow: 2px 2px 2px rgb(150, 144, 144) ;
}
#resultpage{

    margin:2rem;
    border-radius: 2rem;
    width: 30rem;
    box-shadow: 2px 2px 2px rgb(240, 154, 57);

}


textarea{
border-radius: 10px;
width: 90%;
}
#nameinput,#year,#favlang,#location,#desc,#submitbutton,#namehead{
    margin: 1.2rem;
}


#nameinput input{

    width: 12rem;
    height: 1.8rem;
    background-color:rgb(192, 241, 227);
    border-radius: 6px;
  
}

#nameinput input:focus{
    background-color:rgb(204,183,201);

}

#nameinput input:hover{
    background-color: white;
    border: 2px black;
 
}



#desc textarea{
    background-color:rgb(209, 192, 192);
    border: 1px solid black;
    border-radius: 15px;
 
}

#desc textarea:hover{
    background-color: white;
    border: 2px black;
 
}




#desc textarea:focus{
    background-color:rgb(238, 198, 232) ;

}

#favlang input,#year input{
    cursor: pointer;
}


#location select{
    cursor: pointer;
    width: 10rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: rgb(180, 168, 168);
    border: 1px solid black;

}

#location select:focus{
    background-color:rgb(204,183,201);

}

#location select:hover{
background-color: white;
position: rotate ;
}

#submitbutton{
    margin-left: 30%;
    width: 10rem;
    height: 2rem;
    background-color: rgb(214, 191, 191);
    border-radius: 5px;
    border: 1px solid black;
}
#submitbutton:hover{
  transition-duration: 1.5s;
  cursor: pointer;
  height: 2rem;
  width: 10rem;
  border-radius: 25%;
  background-color: white;
  border: 2px solid black;
  transform: rotate(360deg);

}

#resultpage p{
    margin: 3rem;
}

#headingfordetais{
    color: rgb(36, 123, 247);
    margin: 2rem;
    text-shadow: 1px 1px 4px rgb(71, 200, 223);
    text-decoration: underline;
}


#moreaboutyou{
text-align: justify;
}

#moreaboutyou:hover{
text-align: justify;
position:fixed; 
}
